html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position: relative;
  z-index: 5;
}

main {
  position: relative;
}

.controls-holder {
  position: absolute;
  bottom: 3rem; /* 16 x 3 */ 
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 10;
}

.controls-holder > div {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #FFF;
}
.controls-holder > div.is-active {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #000;
}